* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: silver;
}

.navbar, navbar-light {
    border: 1px solid black;
}

header > nav {
    background-color: white;
}

#navbarToggleExternalContent > #nav-items > a {
    background-color: lightblue;
}

div > h2.text-center {
    margin: 5%;
}

section.row > div {
    border: 1px solid black;
    padding: 1%;
    background-color: white;
}

section.row > div > h3 {
    text-align: center;
}






